!!!

%html
  %head
    %title Liz Neu
    %meta(name='author' content='Liz Neu')
    %link(rel='stylesheet'
          type='text/css'
          href='http://fonts.googleapis.com/css?family=Oswald:400,700')
    %link(rel='stylesheet' href='css/style.css')
  %body
    #container
      #firstname
        %span.char1 l
        %span.char2 i
        %span.char3 z
      #lastname
        %div neu
        %div
          %div it's pronounced
          %div gnu
