!!!

%html
  %head
    %title Liz Neu
    %meta(name='author' content='Liz Neu')
    %link(rel='stylesheet'
          type='text/css'
          href='http://fonts.googleapis.com/css?family=Oswald:400,700')
    %link(rel='stylesheet' href='css/style.css')
    %link(rel='stylesheet' href='css/animate-custom.css')
  %body
    #container
      #firstname
        .char
          %a.link3 surprise!
          %span.char3 z
        .char#iChar 
          %a.link2 me
          %span.char2 i
        .char
          %a.link1 projects
          %span.char1 l
      #lastname
        %div neu
        %div
          %div it's pronounced
          %div gnu
    #content-wrapper.off-screen.hidden
      .content.top#about
        .close &times;
        %h1 about me
        .desc oh haiiiiii
      .content.bottom#projects
        .close &times;
        %h1 projects
        .desc look at all the things i've done. wheeeeeeee
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script(src="js/raphael-min.js")
    %script(src='js/main.js')
