@import "http://fonts.googleapis.com/css?family=Oswald:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two";
$font-family: 'Oswald', sans-serif;
$handwriting: 'Shadows Into Light Two', cursive; 

$pink: #FF088D; 
$blue: #0995E0;

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform-transition($duration) {
  -webkit-transition: -webkit-transform $duration;
  -moz-transition: transform $duration, -ms-transform $duration;
  -o-transition: transform $duration, -ms-transform $duration;
  -transition: transform $duration;
}

@mixin translate($x, $y) {
  transform: translate($x,$y);
  -ms-transform: translate($x,$y); /* IE 9 */
  -webkit-transform: translate($x,$y); /* Safari and Chrome */
}

@mixin rotate($deg, $origin) {
  transform: rotate($deg);
  transform-origin: $origin;
  -ms-transform: rotate($deg); /* IE 9 */
  -ms-transform-origin: $origin; /* IE 9 */
  -webkit-transform: rotate($deg); /* Safari and Chrome */
  -webkit-transform-origin: $origin; /* Safari and Chrome */
}

@mixin scale($width, $height, $x, $y) {
  transform: scale($width, $height) translate($x, $y);
  -ms-transform: scale($width,$height) translate($x, $y); /* IE 9 */
  -webkit-transform: scale($width,$height) translate($x, $y); /* Safari and Chrome */
}

body {
  font-family: $font-family;
  font-size: 400px;
  font-weight: bold;
  text-align: center;
  background-image: url('../images/background.png');
  color: #222;
}

#container {
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 10%;
  left: 25%;
  margin-left: -150px;
}

#firstname {
  width: 40%;
  float: left;
  text-align: right;
  position: relative;

  #iChar {
    position: relative;
  }

  .char {
    float: right;
    text-align: right;

    >span {
      float: left;
      @include transition(all 0.4s);
    }
    .char1 {
      width: 34%;
    }

    .link1, .link2, .link3 {
      font-family: $handwriting;
      font-size: 36px;
      position: absolute;
    }

    .link1 {
      top: 65%;
      left: 8%;
      @include rotate(90deg, 50% 50% 0);
    }

    .link2 {
      top: 25%;
      left: 32%;
    }

    .link3 {
      top: 71.5%;
      left: 65%;
    }

    .char2.hidden, .link2.hidden {
      visibility: hidden;
      @include transition(none);
    }
  }

  .char:hover {
    .link1, .link2, .link3 {
      z-index: 1000;
    }
    .link1:hover, .link2:hover, .link3:hover {
      color: $pink;
      cursor: pointer;
    }
    >span {
      @include translate(0, -53px);
    }
    .char1{
      @include rotate(30deg, 70% 30%);
    }
    .char2{
      @include scale(1, 0.75, 0, 60px);
    }
  }
  
}

#lastname {
  width: 60%;
  float: left;
  text-align: left;

  >div {
    @include transition(opacity 0.3s);
  }

  >div:first-child {
    opacity: 1.0;
    width: 100%;
    height: 600px;
  }

  >div:last-child {
    color: $pink;
    height: 0px;
    opacity: 0;
    float: left;

    >div:first-child {
      position: absolute;
      top:10%;
      left:44%;
      font-size:85px;
    }
    >div:last-child {
      position:absolute;
      top:0%;
    }
  }

  &:hover {
    >div:first-child {
      opacity: 0;
      height: 0px;
    }
    >div:last-child {
      opacity: 1.0;
      height: 600px;

    }
  }
}

#content-wrapper {
  position: relative;
  height: 600px;
  width: 580px;
  top: 75px;
  left: 600px;
  @include transition(all 0.5s);
}

#content-wrapper.off-screen {
  @include translate(0, 1000px);  
}

#content-wrapper.hidden {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  background-color: #fdfdfd;
  border-radius: 10px;
  border: 2px #ddd solid;
  box-shadow: -1px -1px 5px #ddd;
  padding: 20px; 
  padding-left: 40px;         
  text-align: left;
  height: 100%;
  width: 100%;
  @include transition(all 0.3s);

  .close {
    position: absolute;
    font-size: 32px;
    top: 5px;
    left: 600px;
    color: #aaa;
  }

  .close:hover {
    color: #444;
    cursor: pointer;
  }

  h1 {
    font-size: 32px;
    color: $pink;
  }

  .desc {
    font-size: 18px;
    font-weight: normal;
    color: #222;
    margin-right: 25px;
    margin-top: 40px;

    .project, .project > a {
      color: #666;
      border: none;
    }

    .project > a:hover {
      color: $pink;
    }
  }

  a {
    text-decoration: none;
    color: $blue;
    border-bottom: 1px dashed #bbb; 
  }

  a:hover {
    color: $pink;
  }

}

.content.top {
  @include rotate(-1deg, 50% 50%);
  z-index: 1000;
}

.content.bottom {
  @include rotate(1deg, 50% 50%);
}

#myface {
  float: right;
  margin: -10px 0 0 15px;
  width: 240px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #ababab;
}

svg {
  position: absolute !important;
  left: 0;
}
